<ion-content>

  <div *ngIf="loginTrigger">
    <div class="login-content">
      <div class="login-div"><b>Login to your account</b></div>
      <div class="login-inputs">
        <div id="re-container" style="display: none;"></div>
        <ion-input type="number" placeholder="Mobile No" [(ngModel)]="mobileNumber"></ion-input>
      </div>
      <div class="login-button">
        <ion-button expand="full" (click)="onOtpSend()">Send OTP</ion-button>
      </div>
    </div>
  </div>

  <div *ngIf="!loginTrigger">
    <div class="login-content">
      <div class="login-div"><b>Enter the OTP</b></div>
      <div class="login-inputs">
        <div id="re-container" style="display: none;"></div>
        <ion-input type="number" placeholder="Enter otp" [(ngModel)]="code"></ion-input>
      </div>
      <div class="login-button">
        <ion-button expand="full" (click)="verify()">Verify</ion-button>
      </div>
    </div>
  </div>
</ion-content>