.login-content {
    height: 100%;
    width: 100%;
}
.login-div {
    margin-top: 100px;
    text-align: start;
    padding-left: 20px;
    font-family: var(--ion-font-family-bold);
    font-size: 21px;
}
ion-input {
    border-bottom: 1px solid #707070;
    text-align: start;
    margin-top: 10px;
}
.login-inputs {
    padding: 10px;
    margin-top: 15px;
    padding-left: 25px;
}
ion-button {
    height: 50px;
    border-radius: 5px;
}

.login-button {
    margin-top: 25px;
    padding-left: 25px;
    margin-right: 10px;
}
