/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


@font-face {
    font-family: "Barlow-Black";
    font-style: normal;
    font-weight: normal;
    src: url("./assets/fonts/Barlow-Black.ttf");
  }

@font-face {
    font-family: "Barlow-BlackItalic";
    font-style: normal;
    font-weight: normal;
    src: url("./assets/fonts/Barlow-BlackItalic.ttf");
  }

@font-face {
    font-family: "Barlow-Bold";
    font-style: normal;
    font-weight: normal;
    src: url("./assets/fonts/Barlow-Bold.ttf");
  }

@font-face {
    font-family: "Barlow-BoldItalic";
    font-style: normal;
    font-weight: normal;
    src: url("./assets/fonts/Barlow-BoldItalic.ttf");
  }

@font-face {
    font-family: "Barlow-ExtraBold";
    font-style: normal;
    font-weight: normal;
    src: url("./assets/fonts/Barlow-ExtraBold.ttf");
  }

@font-face {
    font-family: "Barlow-ExtraBoldItalic";
    font-style: normal;
    font-weight: normal;
    src: url("./assets/fonts/Barlow-ExtraBoldItalic.ttf");
  }

@font-face {
    font-family: "Barlow-ExtraLight";
    font-style: normal;
    font-weight: normal;
    src: url("./assets/fonts/Barlow-ExtraLight.ttf");
  }

@font-face {
    font-family: "Barlow-Medium";
    font-style: normal;
    font-weight: normal;
    src: url("./assets/fonts/Barlow-Medium.ttf");
  }

@font-face {
    font-family: "Barlow-Regular";
    font-style: normal;
    font-weight: normal;
    src: url("./assets/fonts/Barlow-Regular.ttf");
  }

@font-face {
    font-family: "Barlow-SemiBold.ttf";
    font-style: normal;
    font-weight: normal;
    src: url("./assets/fonts/Barlow-SemiBold.ttf");
  }
